@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}

.logo-text {
  font-family: 'kugile', sans-serif;
  font-weight: 100;
  color: #fff;
  -webkit-text-stroke:1px #c67050;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}

.btn-1{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #358386;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-1:hover {
  background-color: #245c5e;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-1:active {
  transform: translateY(-1px);
}

.navbar-1{
  @apply sticky top-0 z-50 bg-transparent backdrop-blur-lg
}

.navber a:active{
  text-shadow:2px 2px 4px rgb(215,87,62);
}


.searchBox {
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: #358386;
  background-color: #fce0d5;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #aa5e5e;
  transform: translateY(-3px);
}



